<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.rnap.audiopro">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
